@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;

@define-color mauve #89b4fa;

@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;

@define-color text #f0f8ff;

@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;

@define-color base #1e303e;
@define-color mantle #101010;
@define-color crust #11111b;

* {
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#waybar {
    background-color: @base;
    border-right: 4px solid #586377;
}

#waybar .module {
    color: @text;
    padding: 0px 0px;
    padding-left: 2px;
    margin: -10px 5px -10px;
}

#waybar .module:hover { color: @mauve; }

#window#waybar {
    color: @text;
    transition-property:  background-color;
    transition-duration: 0.5s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    padding: 0px 5px;
    margin: 5px 0px;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    
    margin-left: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0px;

    padding-left: 5px;
    padding-right: 5px;
    
    color: @text;
    animation: ws_normal 20s ease-in-out 1;
}

#custom-win {
    font-size: 30px;
    color: #f0f8ff;
}
#custom-win:hover {
    color: #0b42b9;
}


#workspaces button.active {
    background: @mauve;
    color: @crust;

    margin-left: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0px;

    animation: ws_active 5s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @mantle;
    color: @text;
    animation: ws_hover 5s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tags button {
    color: @mauve;
    background: @base;
    padding: 0px 0px;
    margin: 5px 0px;
}

#tags button.occupied { color: @mantle; }

#tags button.focused { color: @sky; }

#tags button.urgent { color: @red; }

#custom-notification { color: @text; }

#group-10, #group-9, #group-8, #group-7, #group-6, 
#group-5,  #group-4, #group-3, #group-2, #group-1 {
    padding: 0px 10px;
    margin: 0px 5px;
}

#custom-next, #custom-pause, #custom-previous {
  font-size: 17px;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
    color: @red;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

label:focus { background-color: @base; }

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/** Modificador: Fravelz ***************************/

/** ********************************************** **/
/** Creditos (Autor Original, Estilo Cappuccine):  **/
/**          ZepharDev Nvim (REPO: Hyprcraft)      **/
/** ********************************************** **/
